<configuration debug="false">

    <appender name="MAIN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO"/>

    <logger name="org.janusgraph" level="INFO">
        <appender-ref ref="MAIN"/>
    </logger>


</configuration>